body {
    margin: 0;
    background-color: gray;
    padding: 0;
}
.top{
    width: 100%;
    height: 60px;
    background: #222;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}
.top .menu{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top .menu .cm div{
    width: 17px;
    height: 1.5px;
    background: #fff;
}
.top .menu .cm div:nth-child(2){
    margin: 5px 0 5px 0;
}
.top .logo{
    color: #fff;
    padding: 0 10px 0 0px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 19px; 
    
    text-transform: uppercase;
}
.dropdown{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background: #222;
    overflow: hidden;
    height: 0px;
    transition: 350ms;
}
.dropdown .item_code345{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.dropdown .item_code345 a{
    text-decoration: none;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}
.textpm {
  color: #FFA500;
}
.h6 {
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */ 
    font-size: 0px; /* Размер шрифта в процентах */ 
   } 